<div class="row">
    <div class="col-md-12" style="text-align: -webkit-center;">
        <div class="login-box">
            <img class="avatar" src="../../../assets/logoIRMA.png" 
            alt="Logo de IRMA">
            <form>
                <div class="form-group">
                    <label>Correo electronico:</label>
                    <input type="email" class="form-control" 
                    [(ngModel)]="user.email" name="email" 
                    placeholder="Ingrese su correo"
                        required autofocus>
                </div>
                <div class="form-group">
                    <label>Contraseña:</label>
                    <input type="password" class="form-control" 
                    [(ngModel)]="user.password" name="password"
                    placeholder="Ingrese su contraseña" 
                    required autofocus>
                </div>

                <button type="submit" class="btn btn-primary btn-block" 
                (click)="signIn()">
                    Iniciar Sesión
                </button>

                <h5 class="mt-5" 
                style="text-align: center; 
                color: darkgray; 
                font-size: 0.9rem !important;">
                    ¿No tienes cuenta?</h5>
                <a class="nav-link route-signUp" 
                routerLink="/signUp" 
                routerLinkActive="active" 
                >CREA UNA AQUÍ</a>
            </form>
        </div>
    </div>
</div>